* {
  font-family: Poppins;
}

.logo-img {
  width: 120px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

h1,
h2,
h3 {
  color: #333;
  font-size: 41px;
}
header,
.container {
  background-color: #edf9ff;
}
header {
  padding: 10px 50px;
  display: flex;
  gap: 800px;
  margin-bottom: -80px;
}
nav {
  margin-top: 10px;
}
a {
  margin-right: 20px;
  text-decoration: none;
}

a:link,
a:visited {
  color: #555;
}
a:hover {
  color: #07a3e9;
}
.btn-free-trial {
  color: #fff;
  background-color: #07a3e9;

  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 24px;
}

span {
  color: #07a3e9;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.container,
.container2 {
  padding: 60px 0;
  width: 100%;
  margin: 5% auto;
}
.part1 {
  width: 85%;
  padding: 20px 0 20px 15%;
}
.customers-img img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: -35px;
  border: 3px solid #07a3e9;
}
.customers-img p:last-child {
  padding-left: 30px;
  margin-top: 12px;
}
.customers-img {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}

.tittle {
  padding: 0 0 20px 0;
}
.intro {
  line-height: 1.5;
}
.upper {
  text-transform: uppercase;
  color: #555;
  font-weight: normal;
}
.btn button:first-child {
  color: #fff;
  background-color: #07a3e9;

  width: 200px;
  margin-right: 5px;
}
.btn button:last-child {
  color: #333;
  background-color: #fff;

  width: 150px;
}
.btn button {
  padding: 10px;
  margin: 25px 0;
}
.graduate {
  width: 500px;
  height: 330px;
}
.flex {
  display: flex;
  gap: 20px;
}
.container2,
.container3 {
  width: 100%;
  background-color: #fff;
}
h2 {
  text-transform: uppercase;
  font-size: 15px;
  color: #07a3e9;
  font: weight 6px;
}
h3 {
  font-size: 40px;
  margin: 20px 0;
}
.steps-tittle {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0;
}
.numbers {
  font-size: 80px;
  color: #dfdbdb;
  padding: 40px 0 10px 5px;
}
.steps {
  display: flex;
  gap: 340px;
}
.steps-instr {
  line-height: 1.5;
}
.steps-img2 {
  margin-top: 60px;
}
.steps-img1 {
  margin-top: 50px;
}
.part2 {
  width: 50%;
  margin: 0 25%;
}
.part3 {
  width: 100%;
  height: auto;
  padding: 40px 5px 0 60px;
  background-color: #edf9ff;
  margin-top: 10%;
  display: flex;
  gap: 40px;
}
.text {
  width: 800px;
}
.img {
  width: 800px;
}
.cmt img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 5px;
}
.part3 p {
  line-height: 1.5;
  width: 400px;
}
.cmt {
  display: flex;
  gap: 40px;
}
.author {
  margin: 15px 0px;
}
.img {
  display: flex;
}
.cmt2,
.cmt1 {
  margin: 100px 0;
}
.img img {
  width: 200px;
  height: 180px;
  margin: 5px;
}
.part4 {
  width: 100%;
  height: auto;
  padding: 40px 25%;
  margin-top: 10%;
}
.cards {
  display: flex;
  gap: 40px;
  margin-left: 10%;
}
.card1,
.card2 {
  border: 4px solid #edf9ff;
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

.card-tittle {
  margin: 40px 22%;
  font-size: 17px;
  width: 200px;
}
.card-price {
  margin-left: 33%;
  margin: 25px 33%;
}
.cards p:first-of-type {
  padding: 20px;
}
.cards p {
  margin-left: 10%;
  padding: 15px;
}
.mark {
  padding-right: 5px;
}
.btn-get-started {
  padding: 10px 20px;
  margin: 20px 20%;
  width: 200px;
  color: #fff;
  background-color: #07a3e9;
}
.card2 {
  background-color: #edf9ff;
  position: relative;
}
.last {
  padding: 40px 25%;
}
.card2 .band {
  position: absolute;
  top: -2px;
  right: -4px;
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}
.card2 .band::after {
  content: "Best Value";
  font-size: 15px;
  position: absolute;
  width: 90%;
  height: 30px;
  background: #ffd43b;
  transform: rotate(45deg) translateY(-22px) translateX(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}
.part5 {
  width: 50%;
  margin: 0 25%;
  padding-bottom: 10%;
}
.ways {
  display: flex;
  gap: 60px;
}

.ways h2 {
  padding: 20px 0;
  color: #333;
}
.ways p {
  line-height: 1.5;
  width: 200px;
}
.contact img {
  width: 250px;
  height: 300px;
}
.contact h3 {
  font-size: 30px;
  color: #07a3e9;
}
.contact p {
  padding: 15px 0 30px 0;
}
form {
  display: flex;
  gap: 20px;
}
.contact {
  display: flex;
  gap: 0;
  margin-top: 50px;
  border-radius: 10px;
  border: 3px solid #edf9ff;
  background-color: #edf9ff;
}
input,
select {
  margin: 10px 0;
  width: 200px;
  padding: 7px 10px;
  border: 0;
  border-radius: 10px;
}
.contact button {
  width: 200px;
  margin-top: 29px;
  border-radius: 5px;
  padding: 7px 10px;
  background-color: #07a3e9;
  color: #fff;
}
.card-contact-info {
  margin: 10px 0 20px 30px;
}

.ddd,
.dd {
  width: 300px;
}
.contact{
  width: 904px;
  box-shadow: 0px 5px 50px;
}